body {
  background-color: #E8EAED;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  width: 95vw;
  height: 90vh;
  display: flex;
  justify-content: end;
  align-items: center;
  flex-direction: column;
}

#footer-index {
  position: relative;
  display: flex;
  align-items: end;
  justify-content: center;
  margin-top: 50px;
  height: 30vh;
}

img {
  width: 150px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 30px;
  border-radius: 5px;
}

input {
  background-color: #515A55;
  color: #fff !important;
  margin: 5px 0;
}

input::placeholder {
  color: #fff;
}

button {
  margin-top: 15px;
  padding: 5px;
  border-radius: 10px;
  border: 0;
  background-color: #1155CC;
  color: #fff;
}

button:hover {
  background-color: #515A55;
}


/* Responsividade */
@media (max-width: 650px) {
  #menu-principal a:link,
  #menu-principal a:visited {
    font-size: 10px;
    padding: 10px;
    font-weight: 700;
    border-radius: 10px;
  }

  #menu-principal li {
    margin: 15px;
  }

  .consulta-montadora-modelo {
    margin: 75px 0 15px 0;
  }
}

@media (max-width: 360px) {
  #menu-principal a:link,
  #menu-principal a:visited {
    font-size: 8px;
    padding: 10px;
    font-weight: 700;
    border-radius: 10px;
  }
}